# Sundial ROM/FLASH defconfig, optimized for size and silence
CONFIG_MIPS=y
CONFIG_SYS_TEXT_BASE=0x9c000000
CONFIG_ARCH_MT7620=y
CONFIG_BOARD_LINKIT_SMART_7688=y
CONFIG_BOOT_ROM=y
CONFIG_ONBOARD_DDR2_SIZE_512MBIT=y
CONFIG_ONBOARD_DDR2_CHIP_WIDTH_16BIT=y
# CONFIG_MIPS_BOOT_CMDLINE_LEGACY is not set
# CONFIG_MIPS_BOOT_ENV_LEGACY is not set
CONFIG_MIPS_BOOT_FDT=y
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_NR_DRAM_BANKS=1
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_FIT=y
CONFIG_FIT_SIGNATURE=y
CONFIG_FIT_SIGNATURE_MAX_SIZE=0x2000000
CONFIG_FIT_ENABLE_RSASSA_PSS_SUPPORT=y
# CONFIG_ARCH_FIXUP_FDT_MEMORY is not set
CONFIG_USE_BOOTCOMMAND=y
CONFIG_LOGLEVEL=0
CONFIG_SYS_CONSOLE_INFO_QUIET=y
CONFIG_LOG_DEFAULT_LEVEL=0
# CONFIG_DISPLAY_BOARDINFO is not set
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_HUSH_PARSER=y
# CONFIG_CMDLINE_EDITING is not set
# CONFIG_AUTO_COMPLETE is not set
# CONFIG_SYS_LONGHELP is not set
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_CONSOLE is not set
# CONFIG_CMD_BOOTD is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_FDT is not set
# CONFIG_CMD_GO is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_EXPORTENV is not set
# CONFIG_CMD_IMPORTENV is not set
# CONFIG_CMD_EDITENV is not set
# CONFIG_CMD_SAVEENV is not set
# CONFIG_CMD_ENV_EXISTS is not set
# CONFIG_CMD_CRC32 is not set
# CONFIG_CMD_MEMORY is not set
# CONFIG_CMD_DM is not set
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_GPIO=y
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
CONFIG_CMD_USB=y
# CONFIG_CMD_ECHO is not set
# CONFIG_CMD_SOURCE is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_CMD_IMPORT_RSA_KEYS=y
CONFIG_CMD_FAT=y
CONFIG_MTDIDS_DEFAULT="spi-nand0=spi0.1"
CONFIG_MTDPARTS_DEFAULT="spi0.1:-(nand)"
CONFIG_CMD_UBI=y
# CONFIG_CMD_UBIFS is not set
# CONFIG_ISO_PARTITION is not set
CONFIG_DEFAULT_DEVICE_TREE="sundial"
CONFIG_USE_DEFAULT_ENV_FILE=y
CONFIG_DEFAULT_ENV_FILE="sundial_env"
# CONFIG_NET is not set
# CONFIG_DM_WARN is not set
# CONFIG_DM_DEVICE_REMOVE is not set
# CONFIG_DM_STDIO is not set
# CONFIG_DM_SEQ_ALIAS is not set
# CONFIG_INPUT is not set
CONFIG_MTD=y
CONFIG_MTD_DEVICE=y
CONFIG_MTD_SPI_NAND=y
# CONFIG_DM_SPI_FLASH is not set
# CONFIG_DM_ETH is not set
CONFIG_PHY=y
CONFIG_MT76X8_USB_PHY=y
CONFIG_RAM=y
CONFIG_DM_RESET=y
# CONFIG_REQUIRE_SERIAL_CONSOLE is not set
# CONFIG_SPL_SERIAL_PRESENT is not set
CONFIG_SYS_NS16550=y
CONFIG_SPI=y
CONFIG_MT7621_SPI=y
CONFIG_SYSRESET_SYSCON=y
CONFIG_USB=y
CONFIG_DM_USB=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_GENERIC=y
CONFIG_USB_STORAGE=y
CONFIG_WATCHDOG=y
CONFIG_WDT=y
CONFIG_WDT_MT7621=y
# CONFIG_USE_PRIVATE_LIBGCC is not set
CONFIG_LZMA=y

# Turning these off causes u-boot not to boot.  Not sure why
###CONFIG_SERIAL_PRESENT=n
###CONFIG_SPL_SERIAL_PRESENT=n
###CONFIG_TPL_SERIAL_PRESENT=n
###CONFIG_SYS_NS16550=n

# Note that CONFIG_SILENT_CONSOLE and CONFIG_SILENT_U_BOOT_ONLY rely on "silent=y" being
# set in the environment to be useful.  See sundial_env.base.
CONFIG_SILENT_CONSOLE=y
CONFIG_SILENT_U_BOOT_ONLY=y

# Turn off, on, and change the following if you really want to go in and poke around,
# but there's not a whole lot you can do.
CONFIG_BOOTDELAY=-2
###CONFIG_BOOTDELAY=2
###CONFIG_AUTOBOOT_KEYED=y
###CONFIG_AUTOBOOT_PROMPT="Autoboot in %d seconds\n"
###CONFIG_AUTOBOOT_STOP_STR=" "
